{% extends 'base.html' %}

{% block title %}New Mixture{% endblock %}

{% block content %}
<div class="content col-12 p-2">
    <h5>Enter Your Mixture Details</h5>
    <div class="callout">
        <p><strong>Pro Tip:</strong> For a quicker process, please upload your mixture file from the <a style="text-decoration: none;" href="/upload">Upload Data</a> page.</p>
        <p class="mb-0">Note that on this page, you can only enter basic details manually. <br>If you have more details, we recommend you to <a style="text-decoration: none;" href="">Download</a> the standard template for Mixture, 
            fill it out and upload.</p>
    </div>
    <form id="mixtureForm" class="pt-2 pb-4">
        <!-- Mixing Date and Lab -->
        <div class="row mb-4">
            <div class="col-md-4">
                <h6 class="clr-theme">Lab<span class="text-danger"> *</span></h6>
                <input type="text" id="Lab" class="form-control" placeholder="Enter Lab Name">
            </div>
            <div class="col-md-3">
                <h6 class="clr-theme">Mixing Date<span class="text-danger"> *</span></h6>
                <input type="date" id="MixingDate" class="form-control" placeholder="dd/mm/yyyy">
            </div>
            <div class="col-md-5">
                <h6 class="clr-theme">Human-readable ID<span class="text-danger"> *</span></h6>
                <input type="text" id="HumanReadableID" class="form-control" placeholder="date_project_name (e.g. 20241231_123_M123)">
            </div>

        </div>
    
        <div class="card bg-extra-light-blue p-4" style="border: 0;">
        <!-- Cement -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h6>Cement</h6>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Cement1_Content" class="form-control" placeholder="Content">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/m³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Cement1_Density" class="form-control" placeholder="Density">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">
                            kg/dm³
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" id="Cement1_Type" class="form-control" placeholder="Type">
            </div>
        </div>
    
        <!-- Water -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h6>Water</h6>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Water_Content" class="form-control" placeholder="Content">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">
                            kg/m³
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Water_Density" class="form-control" placeholder="Density">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">
                            kg/dm³
                        </span>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- Admixture -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h6>Admixture</h6>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Admixture1_Content" class="form-control" placeholder="Admixture 1 Content">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/m³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Admixture1_Density" class="form-control" placeholder="Admixture 1 Density">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" id="Admixture1_Type" class="form-control" placeholder="Admixture 1 Type">
            </div>
            <div class="col-md-4 mt-3">
                <div class="input-group">
                    <input type="number" step="any" id="Admixture2_Content" class="form-control" placeholder="Admixture 2 Content">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/m³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="input-group">
                    <input type="number" step="any" id="Admixture2_Density" class="form-control" placeholder="Admixture 2 Density">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <input type="text" id="Admixture2_Type" class="form-control" placeholder="Admixture 2 Type">
            </div>
        </div>
    
        <!-- Addition -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h6>Addition</h6>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Addition1_Content" class="form-control" placeholder="Addition 1 Content">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/m³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Addition1_Density" class="form-control" placeholder="Addition 1 Density">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" id="Addition1_Type" class="form-control" placeholder="Addition 1 Type">
            </div>
            <div class="col-md-4 mt-3">
                <div class="input-group">
                    <input type="number" step="any" id="Addition2_Content" class="form-control" placeholder="Addition 2 Content">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/m³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="input-group">
                    <input type="number" step="any" id="Addition2_Density" class="form-control" placeholder="Addition 2 Density">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <input type="text" id="Addition2_Type" class="form-control" placeholder="Addition 2 Type">
            </div>
        </div>
    
        <!-- Aggregate -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h6>Aggregate</h6>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Aggregate1_Content" class="form-control" placeholder="Content">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/m³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="number" step="any" id="Aggregate1_Density" class="form-control" placeholder="Density">
                    <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                        <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" id="Aggregate1_Size" class="form-control" placeholder="Size">
            </div>
        </div>
        </div>
    
        <div class="pt-4">
            <button type="button" class="btn btn-theme" onclick="submitForm(event)">Submit</button>
        </div>
    </form>    
</div>

<!-- Notification Toasts -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: #e9fef7; z-index: 1000;">
        <div class="toast-body">
            <i class="fas fa-check-circle text-success"></i>&nbsp;<span id="message"></span>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: #ffcccb; z-index: 1000;">
        <div class="toast-body">
            <i class="fas fa-exclamation-circle text-danger"></i>&nbsp; <span id="error-message"></span>
        </div>
    </div>
</div>

<script>
    function submitForm(event) {
        event.preventDefault();

      

        const jsonData = {
                Lab: document.getElementById('Lab').value,
                MixingDate: document.getElementById('MixingDate').value,
                humanreadableID: document.getElementById('HumanReadableID').value,
                RawDataFile: "Download",
                Cement1_Content: parseFloat(document.getElementById('Cement1_Content').value) || 0,
                Cement1_Content_Unit: "kg/m^3",
                Cement1_Density: parseFloat(document.getElementById('Cement1_Density').value) || 0,
                Cement1_Density_Unit: "kg/dm^3",
                Cement1_Type: document.getElementById('Cement1_Type').value || null, 
                Water_Content: parseFloat(document.getElementById('Water_Content').value) || 0,
                Water_Content_Unit: "kg/m^3",
                Water_Density: parseFloat(document.getElementById('Water_Density').value) || 0,
                Water_Density_Unit: "kg/dm^3",
                WaterCementRatio: (parseFloat(document.getElementById('Water_Content').value) / (parseFloat(document.getElementById('Cement1_Content').value) || 1)).toFixed(2),
                Admixture1_Content: parseFloat(document.getElementById('Admixture1_Content').value) || 0,
                Admixture1_Content_Unit: "kg/m^3",
                Admixture1_Density: parseFloat(document.getElementById('Admixture1_Density').value) || 0,
                Admixture1_Density_Unit: "kg/dm^3",
                Admixture1_Type: document.getElementById('Admixture1_Type').value || null, 
                Admixture2_Content: parseFloat(document.getElementById('Admixture2_Content').value) || 0,
                Admixture2_Content_Unit: "kg/m^3",
                Admixture2_Density: parseFloat(document.getElementById('Admixture2_Density').value) || 0,
                Admixture2_Density_Unit: "kg/dm^3",
                Admixture2_Type: document.getElementById('Admixture2_Type').value || null, 
                Addition1_Content: parseFloat(document.getElementById('Addition1_Content').value) || 0,
                Addition1_Content_Unit: "kg/m^3",
                Addition1_Density: parseFloat(document.getElementById('Addition1_Density').value) || 0, 
                Addition1_Density_Unit: "kg/dm^3",
                Addition1_Type: document.getElementById('Addition1_Type').value || null, 
                Addition2_Content: parseFloat(document.getElementById('Addition2_Content').value) || 0,
                Addition2_Content_Unit: "kg/m^3",
                Addition2_Density: parseFloat(document.getElementById('Addition2_Density').value) || 0,
                Addition2_Density_Unit: "kg/dm^3",
                Addition2_Type: document.getElementById('Addition2_Type').value || null,
                Aggregate1_Content: parseFloat(document.getElementById('Aggregate1_Content').value) || 0,
                Aggregate1_Content_Unit: "kg/m^3",
                Aggregate1_Density: parseFloat(document.getElementById('Aggregate1_Density').value) || 0,
                Aggregate1_Density_Unit: "kg/dm^3",
                Aggregate1_Size: document.getElementById('Aggregate1_Size').value || null, 
                Aggregate1_Size_Unit: null, 
            };

        console.log(JSON.stringify(jsonData)); // Print JSON to console or send it to a server
        // Example: fetch('/your-endpoint', { method: 'POST', body: JSON.stringify(jsonData) });

        fetch('/submit_mixture', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify(jsonData), 
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => Promise.reject(err));
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 200) {
                document.getElementById("message").innerHTML = data.message;
                const toastLiveExample = document.getElementById('liveToast');
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                toastBootstrap.show();  
            } else {
                throw new Error(data.message);
            }
        })
        .catch((error) => {
            console.error('Failed:', error);
            document.getElementById("error-message").innerHTML = error.message || "An error occurred";
            const toastLiveExample = document.getElementById('liveToastError');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
            toastBootstrap.show();
        });
    }
</script>


{% endblock %}
