{% extends 'base.html' %}

{% block title %}New Mixture{% endblock %}

{% block content %}
<div class="content col-12 p-2">
    <h5>Enter Your Mixture Details</h5>
    <div class="callout small">
        <p><strong>Pro Tip:</strong> For a quicker process, please upload your Mixture from the <a style="text-decoration: none;" href="/upload">Upload Data</a> page.</p>
        <p class="mb-0">Note that on this page, you can only enter basic details manually. <br>If you have more details, we recommend you to <a style="text-decoration: none;" href="">Download</a> the standard template for Mixture, 
            fill it out and upload.</p>
    </div>
    <form id="mixtureForm" class="pt-2 pb-4">
        <!-- Mixing Date and Lab -->
        <div class="row mb-4">
            <div class="col-md-4">
                <h6 class="clr-theme">Lab<span class="text-danger"> *</span></h6>
                <input type="text" id="Lab" class="form-control" placeholder="Enter Lab Name">
            </div>
            <div class="col-md-3">
                <h6 class="clr-theme">Mixing Date<span class="text-danger"> *</span></h6>
                <input type="date" id="MixingDate" class="form-control" placeholder="dd/mm/yyyy">
            </div>
            <div class="col-md-5">
                <h6 class="clr-theme">Human-readable ID<span class="text-danger"> *</span></h6>
                <input type="text" id="HumanReadableID" class="form-control" placeholder="date_project_name (e.g. 20241231_123_M123)">
            </div>

        </div>

        <!-- Binder -->
        <div class="card bg-extra-light-blue p-4" style="border: 0;">
            <div id="binder-container">
                <h6>Binders</h6>
                <div id="binder-list"  >
                    <div class="row g-3 binder-entry pb-3">
                        
                        <div class="col-md-3">
                            <input type="text" class="form-control binder-art" placeholder="Art (e.g. Cement)">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control binder-type" placeholder="Type (e.g. CEM 1)">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control binder-manufacturer" placeholder="Manufacturer">
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control binder-density" placeholder="Density">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control binder-amount" placeholder="Amount">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <a href="" style="text-decoration: none;" class="add-binder">
                    + Add another Binder
                </a>
            </div>
        </div>

        <!-- Water -->
        <div class="card bg-extra-light-blue p-4 mt-4" style="border: 0;">
            <div id="water-container">
                <h6>Water</h6>
                <div id="water-list"  >
                    <div class="row g-3 water-entry pb-3">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control water-total" placeholder="Total">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control water-effective" placeholder="Effective">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control water-density" placeholder="Density">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    

        <!-- Aggregate -->
        <div class="card bg-extra-light-blue p-4 mt-4" style="border: 0;">
            <div id="aggregate-container">
                <h6>Aggregates</h6>
                <div id="aggregate-list"  >
                    <div class="row g-3 aggregate-entry pb-3">
                        
                        <div class="col-md-2">
                            <input type="text" class="form-control aggregate-art" placeholder="Art (e.g. Sand)">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control aggregate-fraction" placeholder="Fraction (e.g. 0/0.3)">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control aggregate-type" placeholder="Type (e.g. Quarz)">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control aggregate-manufacturer" placeholder="Manufacturer">
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control aggregate-density" placeholder="Density">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control aggregate-amount" placeholder="Amount">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <a href="" style="text-decoration: none;" class="add-aggregate">
                    + Add another Aggregate
                </a>
            </div>
        </div>

        <!-- Addition -->
        <div class="card bg-extra-light-blue p-4 mt-4" style="border: 0;">
            <div id="addition-container">
                <h6>Additions</h6>
                <div id="addition-list"  >
                    <div class="row g-3 addition-entry pb-4">
                        
                        <div class="col-md-3">
                            <input type="text" class="form-control addition-art" placeholder="Art (e.g. Inert)">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control addition-type" placeholder="Type (e.g. FA)">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control addition-product" placeholder="Product Name">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control addition-manufacturer" placeholder="Manufacturer">
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control addition-solid" placeholder="Solid Content">
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control addition-density" placeholder="Density">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control addition-amount" placeholder="Amount">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <a href="" style="text-decoration: none;" class="add-addition">
                    + Add another Addition
                </a>
            </div>
        </div>


        <!-- Admixture -->
        <div class="card bg-extra-light-blue p-4 mt-4" style="border: 0;">
            <div id="admixture-container">
                <h6>Admixtures</h6>
                <div id="admixture-list">
                    <div class="row g-3 admixture-entry pb-3">
                        
                        <div class="col-md-2">
                            <input type="text" class="form-control admixture-art" placeholder="Art (e.g. FM)">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control admixture-type" placeholder="Type (e.g. Chemie)">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control admixture-product" placeholder="Product Name">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control admixture-manufacturer" placeholder="Manufacturer">
                        </div>
                    
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control admixture-density" placeholder="Density">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control admixture-amount" placeholder="Amount">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <a href="" style="text-decoration: none;" class="add-admixture">
                    + Add another Admixture
                </a>
            </div>
        </div>

        <!-- Fiber -->
        <div class="card bg-extra-light-blue p-4 mt-4" style="border: 0;">
            <div id="fiber-container">
                <h6>Fibers</h6>
                <div id="fiber-list">
                    <div class="row g-3 fiber-entry pb-3">
                        
                        <div class="col-md-2">
                            <input type="text" class="form-control fiber-art" placeholder="Art">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control fiber-type" placeholder="Type">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control fiber-name" placeholder="Name">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control fiber-manufacturer" placeholder="Manufacturer">
                        </div>
                    
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control fiber-density" placeholder="Density">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control fiber-amount" placeholder="Amount">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <a href="" style="text-decoration: none;" class="add-fiber">
                    + Add another Fiber
                </a>
            </div>
        </div>

        <!-- Air Content -->
        <div class="card bg-extra-light-blue p-4 mt-4" style="border: 0;">
            <div id="air-container">
                <h6>Air Content</h6>
                <div id="air-list">
                    <div class="row g-3 air-entry pb-3">
                    
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control air-density" placeholder="Density">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-DeciM3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/dm³</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" step="any" class="form-control air-amount" placeholder="Amount">
                                <a href="https://qudt.org/vocab/unit/KiloGM-PER-M3" target="_blank" style="text-decoration: none;">
                                    <span class="input-group-text unit-link clr-theme">kg/m³</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    
        <div class="pt-4">
            <button type="button" class="btn btn-theme" onclick="submitForm(event)">Submit</button>
        </div>
    </form>    
</div>

<!-- Notification Toasts -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: #e9fef7; z-index: 1000;">
        <div class="toast-body">
            <i class="fas fa-check-circle text-success"></i>&nbsp;<span id="message"></span>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: #ffcccb; z-index: 1000;">
        <div class="toast-body">
            <i class="fas fa-exclamation-circle text-danger"></i>&nbsp; <span id="error-message"></span>
        </div>
    </div>
</div>

<script>

    function createDynamicInput(list, clone, link){
        link.addEventListener('click', function(e) {
            e.preventDefault(); // Prevent the default link behavior
            const newInputs = clone.cloneNode(true);
            newInputs.querySelectorAll('input').forEach(input => input.value = '');
            list.appendChild(newInputs);
        });

    }

    document.addEventListener('DOMContentLoaded', function() {
        let binderList = document.getElementById('binder-list');
        let binderClone = binderList.querySelector('.binder-entry');
        let binderLink = document.querySelector('.add-binder');
        createDynamicInput(binderList, binderClone, binderLink);

        let aggregateList = document.getElementById('aggregate-list');
        let aggregateClone = aggregateList.querySelector('.aggregate-entry');
        let aggregateLink = document.querySelector('.add-aggregate');
        createDynamicInput(aggregateList, aggregateClone, aggregateLink);

        let additionList = document.getElementById('addition-list');
        let additionClone = additionList.querySelector('.addition-entry');
        let additionLink = document.querySelector('.add-addition');
        createDynamicInput(additionList, additionClone, additionLink);

        let admixtureList = document.getElementById('admixture-list');
        let admixtureClone = admixtureList.querySelector('.admixture-entry');
        let admixtureLink = document.querySelector('.add-admixture');
        createDynamicInput(admixtureList, admixtureClone, admixtureLink);

        let fiberList = document.getElementById('fiber-list');
        let fiberClone = fiberList.querySelector('.fiber-entry');
        let fiberLink = document.querySelector('.add-fiber');
        createDynamicInput(fiberList, fiberClone, fiberLink);
    });
</script>


{% endblock %}
