{% extends 'base.html' %}

{% block title %}Query Data{% endblock %}

{% block content %}
<!-- Page-specific content goes here -->
<div class="content">
    <h3>Query Data</h3>
    <h1>Zeig mir:</h1>
    <div class="form-container">
        <form id="sparqlForm" class="form-inline">
            <select id="queryType" class="form-control mb-3">
                <option value="Mischung">Mischung/en</option>
                <option value="EModule">E-Modul/e</option>
            </select>
            <input id="nameInput" type="text" class="form-control" placeholder="Namen hier einfügen...">
            <button type="submit" class="btn btn-theme">Run Query</button>
        </form>
    </div>
    <div style="text-align: right;">
        <button class="btn btn-theme" onclick="downloadTable()">Download CSV</button>
    </div>
    <div id="resultsTable"></div>
</div>
<script src="static/js/querypage-simple.js"></script>
{% endblock %}
