{% extends 'base.html' %}

{% block title %}Query Data{% endblock %}

{% block content %}
<!-- Page-specific content goes here -->
<div class="content">
    <!-- Existing content -->

    <!-- SPARQL Query Form -->
    <h3>Query Data</h3>
    <form id="sparqlForm" class="pt-2 pb-4">
        <textarea id="sparqlQuery" name="q" rows="10" cols="100" placeholder="Enter your SPARQL query here"></textarea>
        <br>
        <div class="d-flex pt-3" style="gap: 10px;">
            <button type="submit" class="btn btn-dark">Run Query</button>
            <!-- Button, um vorgefertigten Text einzufügen -->
            <button type="button" class="btn btn-outline-dark" id="insertTextBtn">Insert Predefined Text</button>
        </div>
    </form>
    <div id="queryResults">
        <!-- Query results will be displayed here -->
    </div>

</div>
{% endblock %}
