{% extends 'base.html' %}

{% block title %}SPARQL Query{% endblock %}

{% block content %}
<!-- Page-specific content goes here -->
<div class="content p-2">
    <!-- Existing content -->

    <!-- SPARQL Query Form -->
    <h5 class="">SPARQL Query</h5>
    <form id="sparqlForm" class="pt-2 pb-4">
        <textarea id="sparqlQuery" name="q" rows="10" cols="100" placeholder="Enter your SPARQL query here"></textarea>
        <br>
        <div class="d-flex pt-3" style="gap: 10px;">
            <button type="submit" class="btn btn-theme">Run Query</button>
            <!-- Button, um vorgefertigten Text einzufügen -->
            <button type="button" class="btn btn-outline-theme" id="insertTextBtn">Insert Predefined Text</button>
        </div>
    </form>
    <div id="queryResults">
        <!-- Query results will be displayed here -->
    </div>
    <div style="text-align: right;">
        <button class="btn btn-theme" onclick="downloadTable()">Download as CSV</button>
    </div>
    <br>

    <div id="resultsTable"></div>



</div>
<script src="static/js/querypage.js"></script>
{% endblock %}
