<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="lebedigital, bam lebedigital, Lebenszyklus von Beton, beton, concrete life cycle, concrete production, concrete production lifecycle, lebe, concrete, ontology, concrete ontology, ontology for concrete production ">
    <meta name="description" content="The term “LeBe” from LeBeDigital stands in German for “Lebenszyklus von Beton” and in English for “Concrete life cycle”. LeBeDigital is about developing an ontology for the concrete production process chain. The Project LeBeDigital is sponsored by BMBF and runs under the supervision of the Plattform MaterialDigital. The LeBeDigital-team consist of 3 cooperations partners: The Federal Institute for Materials Research and Testing (BAM), the Karlsruhe Institut of Technologie (KIT) and the Technical University of Munich (TUM).">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <title>LeBeDigital</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  </head>
  
  <body>
    <!-- Header with Navbar -->
    <header>
        <nav class="navbar fixed-top bg-light shadow-sm justify-content-between px-md-5 px-3">
            <!-- Logo and Title -->
            <h3 class="mb-0 mx-md-3">
                <img src="static/images/BAM-sign.png" class="logo" alt="Logo">
                <span class="fw-light" style="vertical-align: text-bottom;">BAM</span>
            </h3>
            <h3 class="mb-0">LeBeDigital 
                <span class="sm-none">: <span class="fw-light">Life cycle of concrete</span></span> 
            </h3>
            
            <!-- Login/Logout Button -->
            {% if session['username'] %}
                <a href="/logout"><button class="btn btn-outline-theme mx-md-3">Sign out</button></a>
            {% else %}
                <a href="/login"><button class="btn btn-outline-theme mx-md-3">Sign in</button></a>
            {% endif %}
        </nav>
    </header>

    <!-- Main Content -->
    <main>

      <!-- Carousel Section -->
      <div id="carouselExampleIndicators" class="carousel slide pt-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <!-- First Slide -->
            <div class="carousel-item active" data-interval="5000">
                <img class="carousel-img" src="static/images/welcome2.jpg" alt="Slide 1">
                <div class="carousel-caption pt-0 align-middle">
                    <h3 class="display-6">A material database, where concrete-specific characteristic values & models are integrated</h3>
                    <a href="/database"><button class="btn btn-lg btn-theme mt-4">Open Database</button></a>
                </div>    
            </div>
            <!-- Second Slide -->
            <div class="carousel-item" data-interval="5000">
                <img class="carousel-img" src="static/images/welcome1.jpg" alt="Slide 2">
                <div class="carousel-caption pt-0 align-middle text-center">
                    <h3 class="display-6">Ontology development for the <br>concrete production process chain</h3>
                    <a href="/upload"><button class="btn btn-lg btn-theme mt-4">Upload Data</button></a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
      </div>

      
      <!-- Overview Section -->
      <div class="row featurette p-md-5 p-3 max-1440">
        <div class="col-lg-7 my-auto pt-4">
          <h2 class="featurette-heading pb-4">Overview of Content & Objectives</h2>
          <p class="">
              Production and testing of concrete:
              <ul>
                  <li>Ontology-based collection of <span class="fw-bold">data</span> and <span class="fw-bold">metadata</span> in TripleStores</li>
                  <li>Linking existing, <span class="fw-bold">experience-based, experimental</span> and <span class="fw-bold">simulated</span> data</li>
                  <li>Combined <span class="fw-bold">material optimisation</span> and <span class="fw-bold">geometry optimisation</span> of precast elements based on simulation workflows</li>
                  <li>Model calibration</li>
              </ul>
          </p>
        </div>
        <div class="col-lg-5 pt-4">
          <img src="static/images/overview.png" class="w-100" alt="overview">
        </div>
      </div>

      <!-- Ontology Development Section -->
      <div class="row featurette p-md-5 p-3 mt-md-5 mt-3 bg-light-blue">
          <div class="col-md-12 pt-2 pb-4 px-lg-5 px-3 max-1440">
            <h2 class="featurette-heading text-center pb-4">Ontology Development</h2>
            <div class="row row-cols-1 row-cols-md-3 g-lg-5 g-3 px-lg-5">
              <!-- Conceptualisation -->
              <div class="col">
                <div class="card h-100 border-0">
                  <div class="card-body pt-4 pb-0">
                    <h5 class="card-title clr-theme text-center">Conceptualisation</h5>
                    <p class="card-text text-center">Lists of</p>
                    <ul>
                        <li>Definitions from the knowledge area of mineral building materials</li>
                        <li>Specific relations</li>
                        <li>Boundary conditions, scopes of application and value ranges</li>
                    </ul>   
                  </div>
                  <div class="card-footer text-center bg-white pb-4 pt-0 border-top-0">
                    <img src="static/images/xlsx.png" alt="excel" class="icon-48">
                  </div> 
                </div>
              </div>
              <!-- Structuring -->
              <div class="col">
                <div class="card h-100 border-0">
                  <div class="card-body pt-4 pb-0">
                    <h5 class="card-title clr-theme text-center">Structuring</h5>
                    <p class="card-text text-center">Construction of domain ontologies</p>
                    <ul>
                        <li>Categorisation of definitions in classes</li>
                        <li>Definition Properties</li>
                        <li>Restrictions, Domains, Ranges, ...</li>
                    </ul>  
                  </div>
                  <div class="card-footer text-center bg-white pb-3 pt-0 border-top-0">
                    <img src="static/images/protege.jpg" alt="protege" class="icon-56">
                  </div>  
                </div>
              </div>
              <!-- Networking -->
              <div class="col">
                <div class="card h-100 border-0">
                  <div class="card-body pt-4 pb-0">
                    <h5 class="card-title clr-theme text-center">Networking</h5>
                    <ul>
                        <li>Individuals as placeholders </li>
                        <li>Classification of individuals into classes</li>
                        <li>Linking of individuals via properties</li>
                        <li>TEMPLATE: KNOWLEDGE GRAPH</li>
                    </ul>  
                  </div>
                  <div class="card-footer text-center bg-white pb-4 pt-0 border-top-0">
                    <img src="static/images/drawio.png" alt="drawio" class="icon-48">
                  </div>  
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- Knowledge Graphs Section -->
      <div class="row featurette p-md-5 p-3 max-1440">
        <div class="col-md-12 justify-content-center pt-2 pb-3 px-lg-5 px-3">
          <h2 class="featurette-heading text-center pb-4">Mapping Knowledge Graphs</h2>   
          <div class="row text-center px-lg-5">
            <!-- First row: 4 images -->
            <div class="col-md-3 py-3">
                <img src="static/images/kg1.png" alt="Feature 1" class="icon-96">
                <h5><span class="clr-theme">01.</span> <span class="fw-normal">Mixture Design</span></h5>
            </div>
            <div class="col-md-3 py-3">
                <img src="static/images/kg2.png" alt="Feature 2" class="icon-96">
                <h5><span class="clr-theme">02.</span> <span class="fw-normal">Mixing Process</span></h5>
            </div>
            <div class="col-md-3 py-3">
                <img src="static/images/kg3.png" alt="Heat of Hydration" class="icon-96">
                <h5><span class="clr-theme">03.</span> <span class="fw-normal">Heat of Hydration</span></h5>
            </div>
            <div class="col-md-3 py-3">
                <img src="static/images/kg4.png" alt="Hardening Storage" class="icon-96">
                <h5><span class="clr-theme">04.</span> <span class="fw-normal">Hardening Storage</span></h5>
            </div>
          </div>
          <div class="row text-center px-lg-5">
            <!-- Second row: 3 images -->
            <div class="col-md-4 py-3">
                <img src="static/images/kg5.png" alt="Specimen" class="icon-96">
                <h5><span class="clr-theme">05.</span> <span class="fw-normal">Specimen</span></h5>
            </div>
            <div class="col-md-4 py-3">
                <img src="static/images/kg6.png" alt="Compressive Strength" class="icon-96">
                <h5><span class="clr-theme">06.</span> <span class="fw-normal">Compressive Strength</span></h5>
            </div>
            <div class="col-md-4 py-3">
                <img src="static/images/kg7.png" alt="E-Module" class="icon-96">
                <h5><span class="clr-theme">07.</span> <span class="fw-normal">E-Module</span></h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Automated Workflow Section -->
      <div class="bg-light-blue">
        <div class="row featurette p-md-5 p-3 max-1440">
          <div class="col-lg-5 py-3">
            <img src="static/images/workflow.png" class="w-100" alt="overview">
          </div>
          <div class="col-lg-7 pt-3 my-auto text-justify">
            <h2 class="featurette-heading pb-2">Automated Workflow
            </h2>
            <p class="">
                <ul>
                    <li>
                      Raw Data, like sample matrix and test results, are usually LAB specific and can have different formats: .xls, .csv, .dat… <span class="text-danger">(1)</span>
                    </li>
                    <li>
                      Data and metadata are extracted from the raw files using a Python script and then saved in a standardized JSON file <span class="text-danger">(2, 3)</span>
                    </li>
                    <li>
                      Knowledge Graph <strong>(KG)</strong> templates following the structure of the Concrete Production and Testing Ontology <strong>(CPTO)</strong> are designed using a program which generates Draw.io files <span class="text-danger">(4.1, 4.2, 4)</span>
                    </li>
                    <li>
                      Mapping: Placeholders with hashtags # and dollar-symbols $ contained in the KG-templates are replaced by the extracted data and metadata using a Python-script <span class="text-danger">(5)</span>
                    </li>
                </ul>
            </p>
          </div>
          
        </div>
      </div>

      <!-- Our Team Section -->
      <div class="row featurette p-lg-5 p-3 max-1440">
        <div class="col-md-12 justify-content-center text-center pt-2 pb-5 px-lg-5">
          <h2 class="featurette-heading pb-4">Our Team</h2>
          <div class="d-md-flex justify-content-between">
            <div class="py-3">
              <a href="https://www.bmbf.de/bmbf/de/home/home_node.html" target="_blank" rel="noopener noreferrer">
                <img src="static/images/team1.png" alt="logo" class="icon-72"> 
              </a>
            </div>
            <div class="py-3">
              <a href="https://www.materialdigital.de/" target="_blank" rel="noopener noreferrer">
                <img src="static/images/team3.png" alt="materialdigital" class="icon-72">
              </a>   
            </div>
            <div class="py-3">
              <a href="https://www.bam.de/" target="_blank" rel="noopener noreferrer">
                <img src="static/images/team2.png" alt="bam" class="icon-72">
              </a>
            </div>
            <div class="py-3">
              <a href="https://www.kit.edu/" target="_blank" rel="noopener noreferrer">
                <img src="static/images/team4.png" alt="kit" class="icon-72">
              </a>
            </div>
            <div class="py-3">
              <a href="https://www.tum.de/" target="_blank" rel="noopener noreferrer">
                <img src="static/images/team5.png" alt="tum" class="icon-72">
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <footer class="container-fluid bg-light py-3 px-md-5 px-3">

        <h4 class="float-end mb-0 mt-3 mt-md-0"><a href="#" class="clr-theme"><i class="fas fa-arrow-circle-up"></i></a></h4>
        <p class="mb-0 text-muted ">&copy; <small>Bundesanstalt für Materialforschung und -prüfung (BAM) <span id="currentYear"></span></small></p>
      </footer>

    </main>

    <!-- JavaScript files -->
    <script src="static/js/bootstrap.bundle.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var year = new Date().getFullYear();
        document.getElementById('currentYear').textContent = year;
      });
    </script>


  </body>
</html>
